In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt
import openpyxl

Feature 1: read in 2 datasets. I pulled the Annual visitation numbers for Mammoth Cave as my first dataset. This can be found at irma.nps.gov - full link included in ReadMe.

In [15]:
mammoth_df = pd.read_excel('park_visitation_1904_current.xlsx')
mammoth_df.head()

   Unnamed: 0       Unnamed: 1 Unnamed: 2         Unnamed: 3
0         NaN  Mammoth Cave NP        NaN                NaN
1         NaN              NaN        NaN                NaN
2         NaN              NaN       Year  Recreation Visits
3         NaN              NaN       1936              57775
4         NaN              NaN       1937              75434

Okay the formatting is weird here, but I'll fix that later. Now to import the second dataset, gas prices. This is an excel file with two separate sheets and the data I want is on sheet 2, titled "Data 1". 
Feature 1, dataset 2: Annual gas prices.

In [18]:
gas_df = pd.read_excel('gas_data_1994_current.xls', 'Data 1')
gas_df.head()

,Back to Contents,Data 1: U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon)
0,Sourcekey,EMM_EPM0_PTE_NUS_DPG
1,Date,U.S. All Grades All Formulations Retail Gasoli...
2,1993-06-30 00:00:00,NaN
3,1994-06-30 00:00:00,1.078
4,1995-06-30 00:00:00,1.158

This dataset only goes back to 1994, so I guess I need to exclude annual visitor info before that date. Gotta name the columns and then filter by year.

In [23]:
mammoth_df_1994 = mammoth_df.rename(columns={'0': 'Empty', '1': 'NP', '2': 'Year', '3': 'Visitors'})